.getQuoteContainer{
    position: relative;
    top: 30px;
    left: 70px;
    padding: 10px;
    padding-left: 100px;
    width: 92%;
    background-color: white;
    height: 770px;
}
.hasError{
    margin-left: 15px;
}
.requiredField{
    color: red;
}