<span class="containerTitle">My Quotes</span>
<div class="quotesContainer">
        <div class="">
                <table class="table">
                    <tr>
                        <td><a>Quote Number</a></td>
                        <td><a>Pickup Location</a></td>
                        <td><a>Delivery Location</a></td>
                        <td>Transit Time</td>  
                        <td>Date</td>
                        <td>Cost</td>
                        <td>Action</td>
                    </tr>
                    <!-- | Sorting:path:order, -->
                    <!-- <tr *ngFor="let cmp of companyData let i = index">
                        <td>{{cmp.first_name}}</td>
                        <td>{{cmp.email}}</td>
                        <td>{{cmp.phone}}</td>
                        <td>{{cmp.house_no}}</td>
                        <td>{{cmp.suburb}}</td>
                        <td>{{cmp.state}}</td>
                        <td>{{cmp.business}}</td>
                        <td>{{cmp.user_type}}</td>
                        <td>{{cmp.is_active}}</td>
                        <td>Edit</td>
                        <td>Delete</td>
                        
                    </tr> -->
                    <!-- <div >
                        <div style="position: relative;left: 400px;top: 10px;" *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                    </div>   -->
                    
                </table>
                <!-- <div *ngIf="!companyData">
                    No Record Exist
                </div>
                <spinner style="position: relative;left:480px;z-index:999;" *ngIf="spinFlag" color="#F06506"  [size]="90" [tickness]="1"></spinner> -->
            </div>
            

</div>