<div style="width:100%;position: relative;top:10px;"  class="app flex-row align-items-center">
  <div class="container" style="position: relative">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card-group mb-0" >
          <div class="card p-4" style="background-color: #F6F4F5;">
            <div class="card-body">
              <span style="text-align: center"><h1>Reset Password</h1></span>
              <hr/>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
                
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="password">Password
                    <span class="requiredField">*</span>
                    <span *ngIf="this.error_arr[0]" class="labelError">{{this.error_arr[0]}}</span>
                    
                  </label>
                  <input id="password"  formControlName="password" type="password" class="form-control" placeholder="Enter password">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="cPassword">Confirm Password
                    <span class="requiredField">*</span>
                    <span *ngIf="this.error_arr[1]" class="labelError">{{this.error_arr[1]}}</span>
                  </label>
                  <input  placeholder="Enter confirm password" formControlName="password_confirmation" id="cPassword" type="password" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button style="background-color: #F06506;width: 230px;border-radius: 3px;margin-bottom: 10px;" type="submit" class="btn btn-primary px-4">Submit</button>
                </div>
                <!-- <spinner style="position: relative;left:-40px;bottom : 100px;z-index:999;" *ngIf="loginSpin" color="#F06506"  [size]="90" [tickness]="1"></spinner> -->
              </div>
              <div class="row">
                  <div class="col-md-12" style="text-align: center;font-weight: bold;font-size: 1.3em;">
                    <a [routerLink]="['/forgot-password']">Forgot Password?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


