<span class="containerTitle">Apply For Credit</span>
<div class="applyForCreditContainer">
    <!-- <spinner style="z-index:999;position:relative;left:200px;top:120px;" *ngIf="spinner" color="#F06506"  [size]="90" [tickness]="1"></spinner>-->

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
        <div class="form-group row">
            <label for="business" class="col-sm-2 col-form-label">Business Name</label>
            <div class="col-sm-10">
                <input style="width: 30%;" type="text" name="business" formControlName="business" class="form-control" id="business" placeholder="Business Name">
            </div>
            <label class="col-sm-2 col-form-label"></label>
            <span *ngIf="this.error_arr[0]" class="labelError hasError">{{this.error_arr[0]}}</span>
        </div>
        <div class="form-group row">
            <label for="acn_number" class="col-sm-2 col-form-label">ABN/ACN</label>
            <div class="col-sm-10">
                <input style="width: 30%;" type="text" name="acn_number" formControlName="acn_number" class="form-control" id="acn_number" placeholder="ABN/ACN">
            </div>
            <label class="col-sm-2 col-form-label"></label>
            <span *ngIf="this.error_arr[1]" class="labelError hasError">{{this.error_arr[1]}}</span>
        </div>
        <div class="form-group row">
            <label for="weekly_spend" class="col-sm-2 col-form-label">Average weekly spend</label>
            <div class="col-sm-10">
                <input style="width: 30%;" formControlName="weekly_spend" type="password" class="form-control" id="password_confirmation" name="weekly_spend" placeholder="Average weekly spend">
            </div>
            <label class="col-sm-2 col-form-label"></label>
            <span *ngIf="this.error_arr[2]" class="labelError hasError">{{this.error_arr[2]}}</span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button style="background-color: #F06506;width: 140px;border-radius: 3px;" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form> 
</div>