<div class="app-body">
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
     
        <li class="divider"></li>
        <!-- <li class="nav-title" style="text-align: center">
            <a  class="nav-link"><h6>Menu</h6></a>
        </li> -->
        <hr style="background-color : red">
      <!-- <li class="nav-item">
        
      </li>
     
      <li class="divider"></li>
      <li class="nav-title">
          <a  class="nav-link"><h6></h6></a>
      </li>
      <hr style="background-color : grey"> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/dashboard']"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/quote']"><i class="fa fa-pencil-square-o"></i> Get a Quote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/my_quotes']"><i class="fa fa-folder-open"></i> My Quotes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/my_bookings']"><i class="fa fa-calendar"></i> My Booking</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/my_invoices']"><i class="fa fa-list-alt"></i> My Invoices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/address_book']"><i class="fa fa-location-arrow"></i> Address Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/apply_for_credit']"><i class="fa fa-credit-card"></i> Apply for Credit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/profile']"><i class="fa fa-user"></i> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/company/change_password']"><i class="fa fa-key"></i> Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
      </li>
      
      <!--
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/widgets']"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
      </li>
      <li class="divider"></li>
      
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    -->
    </ul>
  </nav>
</div>
</div>