<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
  
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)" style="right:40px;">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span class="d-md-down-none">Hello {{this.username}}!!</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <a class="dropdown-item" [routerLink]="['/dashboard']"><i class="fa fa-shield"></i> Dashboard</a>
        <a class="dropdown-item" [routerLink]="['/indigo/add_company']"><i class="fa fa-shield"></i> Add Company</a>
        <a class="dropdown-item" [routerLink]="['/indigo/add_employee']"><i class="fa fa-shield"></i> Add Employee</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</header>