<div style="width:100%;position: relative;top:10px;"  class="app flex-row align-items-center">
  <div class="container" style="position: relative">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card-group mb-0" >
          <div class="card p-4" style="background-color: #F6F4F5;">
            <div class="card-body">
              <span style="text-align: center"><h1>Log In</h1></span>
              <hr/>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
                <div class="row">
                  <div class="col-6">
                    <span *ngIf="this.error_arr[0]" class="labelError">{{this.error_arr[0]}}</span>
                    
                  </div>
                </div>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [ngClass]="{invalidFormFields:email.touched && email.invalid}"  formControlName="email" placeholder="Email" type="text" id="email" class="form-control">
              </div>
              <div class="row">
                  <div class="col-6">
                    <span *ngIf="this.error_arr[1]" class="labelError">{{this.error_arr[1]}}</span>
                  </div>
                </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [ngClass]="{invalidFormFields:password.touched && password.invalid}"  placeholder="Password" formControlName="password" type="password" id="password" class="form-control">
              </div>
              <!-- <div *ngIf="loginError" class="alert alert-danger">{{this.loginError}}</div> -->
             <!-- <div *ngIf="(email.touched && email.invalid)||(password.touched && password.invalid)" class="alert alert-danger">Fields are required</div>-->
             <div class="row">
               <div class="col-md-12">
                 <a [routerLink]="['/forgot-password']" style="float: right;margin-bottom: 10px;">Forgot your password?</a>
               </div>
             </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button [disabled]="loginSpin" style="background-color: #F06506;width: 230px;border-radius: 3px;margin-bottom: 10px;" type="submit" class="btn btn-primary px-4">Login</button>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12" style="text-align: center;font-weight: bold">
                    <a  [routerLink]="['/signup']">Click Here To Create New Account</a>
                  </div>
                </div>
              <spinner style="position: relative;left:180px;bottom : 200px;z-index:999;" *ngIf="loginSpin" color="#F06506"  [size]="90" [tickness]="1"></spinner>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


