<span class="containerTitle">Profile</span>
<div class="profileContainer">
    <spinner style="z-index:999;position:relative;left:440px;top:400px;" *ngIf="spinner" color="#F06506"  [size]="90" [tickness]="1"></spinner>
    <form (ngSubmit)="editProfile()" [formGroup]="form" class="form-group">
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2" >
                <img src="../../../../assets/img/default.png" height="120px;" style="margin-bottom: 10px;">
                <label for="first_name"> <b>Change Profile Picture</b>
                    <button [disabled]="this.spinner" style="background-color: #F06506;border-radius: 4px; margin-top: 5px;"  type="file" class="btn btn-block btn-success">BROWSE</button>
                </label>
            </div>

            <div class="form-group col-md-6">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5 col-xs-2">
             <label for="first_name">First Name
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[0]" class="labelError">{{this.error_arr[0]}}</span>
            </label>
            <!-- [ngClass]="{invalidFormFields:first_name.touched && first_name.invalid}" -->
            <input placeholder="First Name"  formControlName="first_name" id="first_name" type="text" class="form-control has-error">
            </div>
        <div class="form-group col-md-5">
        <label for="last_name">Last Name
        <span class="requiredField">*</span>
        <span *ngIf="this.error_arr[1]" class="labelError">{{this.error_arr[1]}}</span>

        </label>
        <input  placeholder="Last Name"  formControlName="last_name" id="last_name" type="text" class="form-control">
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="email">Email
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[2]" class="labelError">{{this.error_arr[2]}}</span>
                
                </label>
                <input id="email" formControlName="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-5">
                <label for="phone">Mobile Number
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[3]" class="labelError">{{this.error_arr[3]}}</span>
                
                </label>
                <input placeholder="Phone Number" formControlName="phone" id="phone" type="text" class="form-control">
            </div>
    
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="house_no">Unit/House
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[4]" class="labelError">{{this.error_arr[4]}}</span>
                
                </label>
                <input  placeholder="Enter Unit/House"  formControlName="house_no" id="house_no" type="text" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <label for="street">Street
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[5]" class="labelError">{{this.error_arr[5]}}</span>
                
                </label>
                <input  placeholder="Enter Street" formControlName="street" id="street" type="text" class="form-control">
            </div>
                    
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="suburb">Postcode/Suburb
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[6]" class="labelError">{{this.error_arr[6]}}</span>
                
                </label>
                <input
                ngxTypeahead
                [value]="query3"
                [taList]="staticList" 
                (taSelected)="selectedSuburb($event)"
                placeholder="Enter Postcode/Suburb"  
                formControlName="suburb"
                id="suburb" 
                type="text" class="form-control">
            </div>
            <div class="form-group col-md-5" >
                <label for="state">State
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[7]" class="labelError">{{this.error_arr[7]}}</span>
                
                </label>
                <!-- <input [ngClass]="{invalidFormFields:state.touched && state.invalid}" placeholder="Enter State" formControlName="state" id="state" type="text" class="form-control"> -->
                <!-- , , WA, NT, NSW, TAS, SA,QLD -->
                <select formControlName="state" id="state" class="form-control" style="height:55%;">
                <option value="">Select State</option>
                <option value="VIC">VIC</option>
                <option value="ACT">ACT</option>
                <option value="WA">WA</option>
                <option value="NT">NT</option>
                <option value="NSW">NSW</option>
                <option value="TAS">TAS</option>
                <option value="SA">SA</option>
                <option value="QLD">QLD</option>
                </select>
            </div>
                        
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="business">Business Name
                <span class="requiredField">*</span>
                <span *ngIf="this.error_arr[8]" class="labelError">{{this.error_arr[8]}}</span>
                
                </label>
                <input  placeholder="Enter Business Name"  formControlName="business" id="business" type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2" >
                <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                <button [disabled]="this.spinner" style="background-color: #F06506;border-radius: 4px;"  type="submit" class="btn btn-block btn-success">Update</button>
            </div>
            <div class="form-group col-md-6">
            </div>
               
                
        </div>
    </form>

    
</div>